<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>XM14</display-name>
  <servlet>
    <servlet-name>VerificationServlet</servlet-name>
    <servlet-class>com.servlet.VerificationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BcxData</servlet-name>
    <servlet-class>com.servlet.BcxData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BcxServlet</servlet-name>
    <servlet-class>com.servlet.BcxServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>PrivilegeServlet</servlet-name>
    <servlet-class>com.servlet.PrivilegeServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>SearchRecord</servlet-name>
    <servlet-class>com.servlet.SearchRecord</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchRecord2</servlet-name>
    <servlet-class>com.servlet.SearchRecord2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TableRegVeh</servlet-name>
    <servlet-class>com.servlet.TableRegVeh</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchallUser</servlet-name>
    <servlet-class>com.servlet.SearchallUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchTrack</servlet-name>
    <servlet-class>com.servlet.SearchTrack</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchallRegVehicle</servlet-name>
    <servlet-class>com.servlet.SearchallRegVehicle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchallRegVehicle2</servlet-name>
    <servlet-class>com.servlet.SearchallRegVehicle2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Searchall</servlet-name>
    <servlet-class>com.servlet.Searchall</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegDriverServlet</servlet-name>
    <servlet-class>com.servlet.RegDriverServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserEmailServlet</servlet-name>
    <servlet-class>com.servlet.UserEmailServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Savewl</servlet-name>
    <servlet-class>com.servlet.Savewl</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendYuejie</servlet-name>
    <servlet-class>com.servlet.SendYuejie</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PasswordUpdate</servlet-name>
    <servlet-class>com.servlet.PasswordUpdate</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectVehicleServlet</servlet-name>
    <servlet-class>com.servlet.SelectVehicleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegVehicleServlet</servlet-name>
    <servlet-class>com.servlet.RegVehicleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationServlet</servlet-name>
    <url-pattern>/VerificationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BcxData</servlet-name>
    <url-pattern>/BcxData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BcxServlet</servlet-name>
    <url-pattern>/BcxServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchRecord</servlet-name>
    <url-pattern>/SearchRecord</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchRecord2</servlet-name>
    <url-pattern>/SearchRecord2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchallRegVehicle</servlet-name>
    <url-pattern>/SearchallRegVehicle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchallRegVehicle2</servlet-name>
    <url-pattern>/SearchallRegVehicle2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Searchall</servlet-name>
    <url-pattern>/Searchall</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendYuejie</servlet-name>
    <url-pattern>/SendYuejie</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegDriverServlet</servlet-name>
    <url-pattern>/RegDriverServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PasswordUpdate</servlet-name>
    <url-pattern>/PasswordUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TableRegVeh</servlet-name>
    <url-pattern>/TableRegVeh</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SelectVehicleServlet</servlet-name>
    <url-pattern>/SelectVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegVehicleServlet</servlet-name>
    <url-pattern>/RegVehicleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserEmailServlet</servlet-name>
    <url-pattern>/UserEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchTrack</servlet-name>
    <url-pattern>/SearchTrack</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Savewl</servlet-name>
    <url-pattern>/Savewl</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchallUser</servlet-name>
    <url-pattern>/SearchallUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrivilegeServlet</servlet-name>
    <url-pattern>/PrivilegeServlet</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MileageServlet</display-name>
    <servlet-name>MileageServlet</servlet-name>
    <servlet-class>com.servlet.MileageServlet</servlet-class>
  </servlet>
</web-app>